div[form] {
    margin: 10px 20%;
}

div[error] {
    text-align: center;
    display: none;
}

div[error] > span {
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    color: #aa1f11;
    border: 2px solid red;
    border-top: 0;
}