<div form>
    <fieldset>
        <label for="username"><?= __('Username') ?></label><input type="text" name="username"/>
        <label for="password"><?= __('Password') ?></label><input type="password" name="password"/>
    </fieldset>
    <button submit>Log in</button>
</div>

<div error><span></span></div>